/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/capconfig
.idea
Capfile
/public/css/
/public/js/
/public/fonts/
/resources/assets/js/dev-mixed.js
/resources/assets/js/dev-mixed.js.map
/resources/assets/js/bootstrap.min.js