@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body
{
  margin-top: 60px;
  position: relative;
}

.giant-input
{
  height: 76px;
  font-size: 40px;
}

.navbar
{
  background-image: url('/img/paper_fibers.png');
  margin-bottom: 0px;
}

.form-rsvp-guest-header span
{
  display: inline-block;
}

.hidden-input
{
  display: none;
}

.activityIcon
{
  padding: 5px 10px 5px 10px;
  color: #acadad;
}