@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$brown: #3d1e07;
$yellow-text: #ecc884;
$green: #138f22;
$grey: #666666;

a {
  color: inherit;
}

body
{
  margin-top: 60px;
  position: relative;
  font-family: Palatino;
  font-size: 1.5em;
}

@font-face
{
  font-family: Superclarendon;
  src: url('/fonts/SuperclarendonRegular.ttf');
}

@font-face
{
  font-family: Highway-Gothic;
  src: url('/fonts/HWYGNRRW.TTF');
}

@font-face
{
  font-family: Variane;
  src: url('/fonts/VarianeScript.ttf');
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

.todo
{
  font-weight: bolder;
}

.clarendon-headline
{
  font-family: Superclarendon, Helvetica, Arial, sans-serif;
  font-size: 3em;
}

.clarendon-subhead
{
  font-family: Superclarendon, Helvetica, Arial, sans-serif;
  font-size: 2em;
}

.green
{
  color: $green;
}

.white
{
  color: #ffffff;
}

.yellow
{
  color: $yellow-text;
}

.grey
{
  color: $grey;
}

.highway-headline
{
  font-family: Highway-Gothic, Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  //letter-spacing: 0px;
}

.highway-subhead
{
  font-family: Highway-Gothic, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  //letter-spacing: 0px;
}

.content-text-head
{
  font-family: Variane;
  font-size: 4em;
  line-height: 2em;
}

.giant-input
{
  height: 76px;
  font-size: 40px;
}

.navbar-default
{
  .navbar-nav
  {
    font-size: 1em;
    li{
      a{
        color: $yellow-text;
      }

      a:hover, a:active{
        color: $green;
      }
    }
  }
}

.navbar-header
{
  span{
    display:inline-block;
  }

  #nav-camp-logo
  {
    color: #ecc884;
    font-size: 40px;
    margin-top: 5px;
  }

  #nav-camp-name
  {
    color: $yellow-text;
    font-family: Superclarendon, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 13px;
    margin-top: 10px;
  }

}

.navbar-right
{
  margin-right: 0px;
  padding-top: 6px;
  color: $yellow-text;
}

#camp-navbar-collapse-1
{
  float: none !important;
}

.navbar
{
  background: $brown;
  margin-bottom: 0px;
  min-width: 948px;
  border: none;
}

#form-nav-login.closed
{
  max-height: 0;
}

@media (max-width: 992px) {
  .navbar
  {
    min-width: 360px;
    text-align: center;
  }
  #nav-error-container
  {
    display: none;
    position:absolute;
    width: 85%;
    top: 60px;
  }

  #form-nav-login
  {
    display: none;
  }

  #form-nav-login-collapsed
  {
    display: block;
  }

}

@media (min-width: 992px) {
  .navbar
  {
    min-width: 794px;
  }

  #form-nav-login-collapsed
  {
    display: none;
  }

  #nav-error-container
  {
    display: none;
    position:absolute;
    width: 100%;
    top:54px;

    .alert{
      border-radius: 0;
    }
  }

  #form-nav-login
  {
    display: block;
    overflow-y: hidden;
    position: absolute;
    top: 10px;
    right: 0px;
    max-height: 500px; /* approximate max height */
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    width: 100%;
    background-color: $green;


    .navbar-form {
      text-align: center;
    }
  }
}

.form-rsvp-guest-header span
{
  display: inline-block;
}

.hidden-input
{
  display: none;
}

.activityIcon
{
  //padding: 5px 10px 5px 10px;
  color: #000;
  text-align: center;
}

.activity-icon-font
{
  font-size: 50px;
}

.activity-icon-row
{

}

.txt-centered
{
  text-align: center;
}

a.page-top
{
  position: absolute;
  top: -100px;
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav {
    float: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col-md-12 {
    padding-right: 0px;
  }
}