@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body
{
  margin-top: 60px;
  position: relative;
}

@font-face
{
  font-family: Superclarendon;
  src: url('/fonts/SuperclarendonRegular.ttf');
}

@font-face
{
  font-family: Variane;
  src: url('/fonts/VarianeScript.ttf');
}

.font-superclarendon {
  font-family: Superclarendon, Helvetica, Arial, sans-serif;
}

.giant-input
{
  height: 76px;
  font-size: 40px;
}

.navbar-default
{
  .navbar-nav
  {
    li{
      a{
        color: #ecc844;
      }
    }
  }
}

.navbar
{
  background: #7d4128;
  margin-bottom: 0px;
  min-width: 948px;
  font-family: Superclarendon;
  border: none;

}

@media (min-width: 0px) {
  .navbar
  {
    min-width: 360px;
  }
}

@media (min-width: 768px) {
  .navbar
  {
    min-width: 948px;
  }
}

.form-rsvp-guest-header span
{
  display: inline-block;
}

.hidden-input
{
  display: none;
}

.activityIcon
{
  padding: 5px 10px 5px 10px;
  color: #acadad;
}