.main-page-content-block
{
  padding-top: 50px;
}

p.content-title
{
  margin-top:25px;
  font-family: Variane, Helvetica, Arial, sans-serif;
  font-size: 3em;
}

img.content-image
{
  //padding-bottom: 25px;
}

.content-body
{
  width: 60%;
  margin: auto;
  p {
    font-family: Superclarendon, Helvetica, Arial, sans-serif;
  }
}

#parksign-shape
{
  position:absolute;
  z-index: -1;

  img {
    height: inherit;
    width: inherit;
  }
}

#main-page-campsign
{
  width: 80%;
}

#main-page-splash
{
  padding: 50px;
  margin: -60px;
  margin-top: -20px;
  text-align: center;
  background: url('/img/abnaki-tree-lake-bg.jpg') no-repeat center center fixed;
  background-size: 2000px 1000px;

  #main-page-campsign
  {
    width: 60%;
  }

  p.wedding-info-headline
  {
    font-family: Variane;
    font-size: 5em;
    line-height: 1em;
    color: #ecc844;
  }

  p.wedding-info-subhead
  {
    font-family: Superclarendon;
    font-size: 2em;
  }

  //1024
}

#wedding-info-section
{

  #wedding-datetime
  {
    padding:100px;
  }

  #gmap_canvas
  {
    height: 400px;
    width: 100%;
    position: relative;
    //margin: auto auto;
    //text-align: center;
  }

  #wedding-info-content
  {
    margin-top: 70px;
  }

}


#lodging-info-section
{
  background-color: #acadad;
  z-index: 99;
}



.content-text-head
{
  font-family: Variane;
  font-size: 4em;
  line-height: 2em;
}

.main-page-content-block
{
  text-align: center;
}