.main-page-content-block
{
  margin-top: 50px;
}

p.content-title
{
  margin-top:25px;
  font-family: Superclarendon, Helvetica, Arial, sans-serif;
  font-size: 2.25em;
}

img.content-image
{
  //padding-bottom: 25px;
}

.content-body
{
  width: 80%;
  margin: auto;
  p {
    font-size: 1em;
    text-align: justify;
  }
}

.content-block{
  padding: 25px;
  margin: auto;
}

#parksign-shape
{
  position:absolute;
  z-index: -1;

  img {
    height: inherit;
    width: inherit;
  }
}

#main-page-campsign
{
  width: 80%;
}

#main-page-splash
{
  padding: 50px;
  margin: -60px;
  margin-top: -20px;
  text-align: center;
  background: url('/img/abnaki-tree-lake-bg.jpg') no-repeat top fixed;
  background-size: 100%;

  #main-page-campsign
  {
    width: 60%;
  }

  p.wedding-info-headline
  {
    font-family: Variane;
    font-size: 5em;
    line-height: 1em;
    color: #ecc844;
  }

  p.wedding-info-subhead
  {
    font-family: Superclarendon;
    font-size: 2em;
  }

  //1024
}

#wedding-info
{
  //margin-top:-50px;

  #wedding-info-section
  {
    margin-top:0px;

    #wedding-info-content
    {
      margin-top: 70px;
    }
  }
}

#wedding-datetime
{
  padding:100px;
}

#our-story
{
  background: #acadad;
  margin: -15px;
  padding-bottom: 50px;

  #our-story-content
  {
    padding: 50px;
    margin-top: 30px;
  }

  #our-story-text
  {
    font-size: 1em;
    text-align: justify;
    padding: 30px 100px 0px 100px;
  }
}

#rsvp-section
{
  padding:100px;
  font-family: Superclarendon, Helvetica, Arial, sans-serif;
}


.main-page-content-block
{
  text-align: center;
}

#vt-info-section
{
  text-align: center;
  margin-top: 40px;

  #distance-to-camp
  {
    font-size: 0.8em;
  }

  #gmap_canvas
  {
    height: 400px;
    width: 100%;
    position: relative;
    //margin: auto auto;
    //text-align: center;
  }
}

#lodging-info-content {
  #lodging-header
  {
    margin: 0px -15px;
    background-color: #acadad;
    padding:150px;
    background: url('/img/abnaki-cabins.jpg') center no-repeat;
    background-size: 100%;
  }

  #lodging-options-container
  {
    padding:80px;

    .checkin-times
    {
      text-align: center;
    }

    .inline-option-header
    {
      .title
      {
        //margin-top:40px;
      }
    }

  }

  .option {
    text-align: left;
  }


}

#rsvp-section
{
  text-align: center;
}