#rsvp-form-container
{
  width: 85%;
  min-width: 700px;
  margin: auto;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #acadad;
  text-align: center;

  .title
  {
    //font-family: campTitle;
    font-size: 5em;
  }

  .subtitle
  {
    //font-family: campSubtitle;
    font-size: 2em;
  }

  .inner-container
  {
    border: 1px solid black;
    background-image: url("/img/lightpaperfibers.png");
    padding: 50px;
  }

  #code-response-container
  {
    text-align: left;
  }
}

.code-response-form
{
  input
  {
    padding: 10px;
  }
}

#rsvp-code
{
  margin: auto;
  height: 76px;
  font-size: 30px;
  width: 50%;
  text-align: center;
}

#old-person-opt-out-container
{
  padding-top:80px;
}

#registration-info
{
  text-align: center;

  .clarendon-headline
  {
    margin-top: 25px;
  }

  .content
  {
    width: 65%;
    margin:auto;
    text-align: justify;
    padding: 20px;
  }
}

#rsvp-guests-container
{
  margin: auto;
  width: 80%;
    .guest-rsvp-container {
      margin: auto;
      width: 80%;
    }

    .rsvp-guest-interests {
      background-color: #a6e1ec;
      padding:30px;
    }
}

#camper-info-form
{

}

.guest-rsvp-container
{
  padding:20px;
  margin-top: 10px;
  position: relative;

  .button-rsvp-remove-guest
  {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

#cabin-adventure-level-decription
{
  text-align: center;

  .selected
  {
    background-color: #acadad;
  }
}

#add-camper-row
{
  text-align: center;
  margin: auto;
}

#rsvp-submit-area
{
  text-align: center;
  margin: auto;
  padding: 50px;
}


@media (min-width: 0px) {
  #rsvp-guests-container
  {
    margin: auto;
    width: 100%;
    .guest-rsvp-container {
      margin: auto;
      width: 100%;
    }

    .rsvp-guest-interests {
      background-color: #a6e1ec;
      padding:30px;
    }
  }
}

@media (min-width: 768px) {
  #rsvp-guests-container
  {
    margin: auto;
    width: 80%;
    .guest-rsvp-container {
      margin: auto;
      width: 80%;
    }

    .rsvp-guest-interests {
      background-color: #a6e1ec;
      padding:30px;
    }
  }
}

.activityIcon
{
  color: #acadad;
  cursor: pointer;
  line-height: 20px
}

.interest-inactive
{
  color: #acadad;
}

.interest-active
{
  color: #138f22;
}

/*
* The admin page!
*/

#logged-in-homepage-header
{
  margin-top: -10px;
  padding: 40px;
  background: url('/img/tree_bark.jpg') repeat fixed;

  #logged-in-rsvp-status
  {
    text-align: center;
    margin-top: 50px;
  }

  #camp-logo
  {
    fill: #000;
    height: 230px;
  }
}

#logged-in-guests-container
{
  padding: 40px;
  text-align: center;
}