$brown: #3d1e07;
$yellow-text: #ecc884;
$green: #087649;
$grey: #666666;

$trees: url('/img/tree_bark.jpg');

.ui-effects-wrapper {
  display:inline;
}

#rsvp-form-container
{
  width: 85%;
  min-width: 700px;
  margin: auto;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #acadad;
  text-align: center;

  .title
  {
    //font-family: campTitle;
    font-size: 5em;
  }

  .subtitle
  {
    //font-family: campSubtitle;
    font-size: 2em;
  }

  .inner-container
  {
    border: 1px solid black;
    background-image: url("/img/lightpaperfibers.png");
    padding: 50px;
  }

  #code-response-container
  {
    text-align: left;
  }
}

.code-response-form
{
  input
  {
    padding: 10px;
  }
}

#rsvp-code
{
  margin: auto;
  height: 76px;
  font-size: 30px;
  width: 50%;
  text-align: center;
}

#old-person-opt-out-container
{
  padding-top:10px;
}

#registration-info
{
  text-align: center;

  .clarendon-headline
  {
    margin-top: 25px;
  }

  .content
  {
    width: 65%;
    margin:auto;
    text-align: justify;
    padding: 20px;
  }
}

#rsvp-guests-container
{
  margin: auto;
  width: 80%;
    .guest-rsvp-container {
      margin: auto;
      width: 80%;
    }

}

.rsvp-guest-interests {
  background-color: #fff;
  outline: 5px dotted $yellow-text;
  //padding:30px;
  min-width: 360px;

  .clarendon-subhead {
    min-width: 350px;
  }
}

#button-rsvp-add-guest
{
  color: #fff;
  background-color: $green;
  border-color: $green;
  cursor: pointer;
}

#button-rsvp-add-guest:hover
{
  color: $yellow-text;
}

#add-guest-button {
  margin-bottom: 20px;
}



#camper-info-form
{
  background: $trees repeat;
  padding: 40px;
  //margin-bottom: 50px;
}

.logding-form-header
{
  margin-bottom: 25px;
}

.guest-rsvp-container
{
  padding:20px;
  margin-top: 10px;
  position: relative;

  .button-rsvp-remove-guest
  {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 2em;
    color: #FF0000;
    cursor: pointer;
  }

  .rsvp-camper-lg-input
  {
    height: 45px;
    font-size: 24px;
  }

  .rsvp-camper-age-input
  {
    width: 50px;
  }

  .rsvp-camper-adult-toggle
  {
    float:right;
  }

  .child-age-form
  {
    .age-input-label
    {
      font-size: 24px;
    }
  }

  .child-age-input
  {
    margin-top:-1px;
  }

  .guest-form-row
  {
    margin-left:0px;
    padding-top: 10px;
  }

  .top3-instructions
  {
    font-size: 0.8em;
  }

  .activities-header
  {
    margin-bottom: 16px;
  }

  .lodging-option-radio-row
  {
    margin-bottom: 10px;
  }

}

#lodging-selection-form
{
  margin: auto;
  width: 80%;

  .guest-lodging-container {
    background: #fff;
    margin: auto;
    width: 70%;
    outline: 5px dotted $green;
    padding:30px;
  }

  .lodging-option-radio-row {
    margin-bottom: 20px;
  }

  .offsite-lodging-feedback {
    margin-top: 20px;
  }
}

#cabin-adventure-level-decription
{
  text-align: center;

  .cal-icon
  {
    font-size: 70px;
    margin-top: -10px;
    color: #acadad;
    cursor: pointer;
    margin-bottom: 8px;
  }

  .cal-number, .cal-title
  {
    color: #acadad;
    cursor: pointer;
  }

  .selected
  {
    //background-color: #acadad;
    .cal-icon, .cal-number, .cal-title
    {
      color: $green;
    }
  }
}

#add-camper-row
{
  text-align: center;
  margin: auto;
}

#rsvp-submit-area
{
  text-align: center;
  margin: auto;
  padding: 50px;
}

@media (min-width: 0px) {
  #camper-info-form {
    padding: 0px;
  }

  #form-login {
    input {
      height: 76px;
      width: 97%;
      font-size: 30px;
      margin: 10px;
    }

    button {
      font-size: 2.2em;
    }
  }

  #rsvp-guest-list {
    width: 100% !important;
  }

  #rsvp-guests-container
  {
    margin: auto;
    width: 100%;
    .guest-rsvp-container {
      margin: auto;
      width: 100%;
    }

    .rsvp-guest-interests {
      padding:15px;
    }
  }

  #lodging-info-form, #lodging-selection-form {
    width: 97%;

    .guest-lodging-container {
      width: 100%;
      padding: 20px;
    }

    .bunkmates-ask {
      padding: 20px;
      text-align: center;
    }

    .cabin-details {
      padding: 5px;
    }
  }
}

#form-login
{
  text-align: center;
}

@media (min-width: 768px) {
  #camper-info-form {
    padding: 40px;
  }

  #form-login {
    input {
      margin: auto;
      height: 34px;
      font-size: 14px;
      width: 50%;
    }
    button {
      font-size: 1.2em;
    }
  }

  #rsvp-guest-list {
    width: 90% !important;
  }

  #rsvp-guests-container
  {
    margin: auto;
    width: 80%;
    .guest-rsvp-container {
      margin: auto;
      width: 80%;
    }

    .rsvp-guest-interests {
      padding:30px;
    }
  }

  .post-rsvp-message
  {
    .highway-subhead {
      margin-bottom: 20px;
    }
  }

  #lodging-info-form, #lodging-selection-form {
    width: 80%;

    .guest-lodging-container {
      width: 90%;
      padding: 30px;
    }

    .bunkmates-ask {
      padding: 20px;
      text-align: center;
    }

    .cabin-details {
      padding: 5px;
    }
  }
}

.review-lodging-link
{
  font-size: 0.4em;
}

.activityIcon
{
  color: #acadad;
  cursor: pointer;
  line-height: 20px
}

.interest-inactive
{
  color: #acadad;
}

.interest-active
{
  color: #138f22;
}

/*
* The admin page!
*/

#logged-in-homepage-header
{
  margin-top: -10px;
  padding: 40px;
  background: $trees repeat fixed;
  text-align: center;

  #logged-in-rsvp-status
  {
    text-align: center;
    margin-top: 50px;
  }

  #camp-logo
  {
    fill: #000;
    height: 230px;
  }
}

#logged-in-guests-container
{
  padding: 40px;
  text-align: center;
}

#logged-in-lodging-summary
{
  margin-top:40px;

  .cal-icon {
    font-size: 80px;
    color: $green;
  }
}

#rsvp-guest-list
{
  width: 90%;
  margin: auto;
}

.guest-rsvp-card
{
  padding: 30px;
  padding-bottom: 0px;
}

.rsvp-logo-header
{
  font-size: 333px;
  color: #000;
}

.selected-activities-container
{
  padding: 10px 100px;

  .activity-icon-font{
    font-size:40px;
  }
}

.rsvp-guest-selections
{
  padding: 20px;
  height: 140px;
}

.unclickable
{
  color: red !important;
}

#btn-update-camper-info
{
  margin-top:40px;
}